@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .image-loader {
    @apply bg-gradient-to-b from-black/40 via-blue-400/40 to-black/40;
  }
}

.fade-in {
  animation: fadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-out {
  animation: fadeout 1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@keyframes fadeout {
  0% {
    opacity: 0.5;
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
